/ajax-loader.gif
/all.css
/fontawesome-stars-o.css
/fontawesome-stars.css
/jquery-ui.css
/jquery-ui.min.css
/jquery-ui.structure.css
/jquery-ui.structure.min.css
/jquery-ui.theme.css
/slick.css
/theme.css
